* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
}

body{
    background-color: black;
}

img:not(.main-img){
    width: 25px !important;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.buttons img{
    flex: 0 0 auto;
}

.top {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top img {
    cursor: pointer;
}
p {
    color: white;
    flex: 1;
    float: left;
    margin-top: 0px;
    font-size: xx-large;
    text-align: center;
}

.image-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.main-img {
    max-width: 100%;
    flex: auto;
}

.download{
    float: right;
    width: 10%;
    filter: opacity(0.2) invert(1);
}
.download:hover{
    filter: opacity(1) invert(1);
}

.back{
    filter: opacity(0.2) invert(1);
    width: 10%;
}
.back:hover{
    filter: opacity(1) invert(1);
}

.delete {
    float: right;
    filter: opacity(0.2) invert(1);
    width: 10%;
}
.delete:hover {
    filter: opacity(1) invert(1);
}

@media screen and (max-width: 750px){
    .download{
        width: 20%;
    }

    .back{
        width: 20%;
    }

    .delete{
        width: 20%;
    }
}